html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, rgb(90, 90, 161),rgb(67, 37, 150));
    background-repeat: no-repeat;
}