/*CSS del Index*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 183, 184) ;

}

.columna-central {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            max-width: auto; 
            margin: auto;   
            height: 4em; 
        }

#encabezado{
    position: relative;
    background-color: rgb(144, 144, 151);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
}
h1{
    font-size: 5em;
    text-align: center;
}

#navegacion{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML
    /*Se aplica una transicion: propiedad tiempo funcion*/
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color: rgb(183, 183, 184);
    font-size: 1.5em;
    /*opacity: 50%;*/
}
#navegacion a{
    text-decoration: none;
    text-align: center;
    color:rgb(40, 69, 35);
}

.abrir {
    grid-column: 6/7;
    width: 15em;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgb(69, 101, 73);
    color: rgb(35, 37, 40);
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 100%;
    transform: translateX(120%);
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 15em;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color:rgb(69, 101, 73);
    color: rgb(35, 37, 40);
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 100%;
    transform: translateX(120%);
}
#check{
    display: none;
}
#navegacion a:hover{
    background-color:rgb(94, 115, 94);
    color:white;
}
/*Introducción del menú lateral*/
/*El selector ~ afecta a un elemento que está a la altura de otro, así cuando la pseudoclase checked esta marcada aploca ciertos estilos*/

#check:checked ~#navegacion {
    transform: translateX(-555%);
}

/*Ocultando el boton abrir*/
/**/
#check:checked ~ .abrir{
    display: none;
}
/*Mostrando el boton salir*/
#check:checked ~ .cerrar{
    display:block;
}

/*Código para dar formato a los paquetes familiares*/
.paquetes_familiares{
    display: flex;
    flex-direction: row;
    margin: 1em;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.paquete{
    display: flex;
    flex-direction: column;
    margin:0.5em;
    padding: 0.5em;
    border: 0.2em solid black;
    max-width: 30em;
    align-items: center;
    justify-content: space-evenly;
}

.paquete h3{
    font-size: 2em;
    margin: 0.2em;
    padding: 0;
}

.paquete p{
    font-size: 1.7em;
    margin: 0.2em;
}
.elementos{
    font-size: 1.4em;
}
.precio:hover{
    background-color: pink;
    font-weight: bolder;
}

.paquete img{
    margin: 0.2em;
    width: 90%;
    height: auto;
    object-fit: fill;
    box-shadow: 0.2em 0.2em 0.2em black;
}

.titulo_general_temporada{
    font-size: 3.5em;
    text-align: center;
}

.deslizar{
    display: flex;
    overflow-x: scroll;
    gap: 1em;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
     grid-column: 1/2;

}
.temporada{
    flex: 1 0 100%;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 80%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/3;
    object-fit: fill;
}
.temporada p,h2{
    grid-column: 2/3;
    width: 100%;
}

.temporada p{
    grid-row: 2/3;
    text-align: center;
    font-size: 1.5em;
  
}

.temporada h2{
    grid-row: 1/2;
    text-align: center;
    font-size: 3em
}

/*Sección de cupones*/
.cupones_imagenes{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
}
.cupones h2{
    font-size: 3em;
    text-align: center;
}
.cupones img{
    width: 100%;
    flex: 1 0 100%;
}

/*Sección de servicios */
.general_servicios h2{
    font-size: 3em;
    text-align: center;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.servicio img{
    width: 40%;

}

.servicio{
    display: flex;
    margin-left: 9em;
    margin-right: 9em;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    border: 0.2em solid black;
    align-items: center;
    padding:0.1em;
}
.servicio p{
    font-size: 1.5em;
    padding: 0.4em;
}

/* Pie de página*/
#pie_pagina{
        margin:0.1em;
        border:0.2em solid black;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;
    }
.redes{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        margin: 0.1em
    }
.redes p{
    grid-column: 1/4;
    font-size: 1.3em;
    font-weight: bold;
}
.redes a{
    text-decoration: none;
    color: black;
}
.redes a:hover{
    background-color: pink;
    font-weight: bolder;
}
.contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 2/3;
        align-items: center;
        margin: 0.1em
    }
.contacto p{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.3em;
    font-weight: bold;
}
.contacto a{
    text-decoration: none;
    color: black;
}
.contacto a:hover{
    background-color: pink;
}
.derechos-autor{
        grid-column: 3/4;
    }
/*Modificación para cuando la pantalla se hace pequeña*/
@media screen and (max-width: 850px) {
 #navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML
    /*Se aplica una transicion: propiedad tiempo funcion*/
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color: rgb(183, 183, 184);
    font-size: 1em;

    /*opacity: 50%;*/
}
#encabezado{
    font-size: 1em;
    background-color: rgb(144, 144, 151);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}
#encabezado h1{
    grid-column: 3/5;
    font-size:large;
}
#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
}

.abrir {
    grid-column: 6/7;
    width: 10em;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgb(69, 101, 73);
    color: rgb(35, 37, 40);
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 100%;
    transform: translateX(70%);
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 10em;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color:rgb(69, 101, 73);
    color: rgb(35, 37, 40);
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 100%;
    transform: translateX(70%);
}
.temporada{
    flex: 1 0 90em;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 80%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/3;
    object-fit: fill;
    width: 100%;
}
.servicio p{
    font-size: 1em;
    padding: 0.4em;
}
.servicio{
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    border: 0.2em solid black;
    align-items: center;
    padding:0.1em;
}
}
/*Modifica la sección de promociones y eso*/
@media screen and (max-width: 1500px) and (min-width: 850px){
.temporada{
    flex: 1 0 120em;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 80%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/3;
    object-fit: fill;
    width: 100%;
}
}
