@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap');
/*CSS del Index*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(209, 228, 210) ;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 0.3px;
    line-height: 1.6; 
}
h1{
    font-size: 5em;
    text-align: center;
    font-family: 'Roboto Slab', serif; 
    color: #1c3223; 
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); 
    margin: 0;
}
h2,h3{
    font-family: 'Roboto Slab', serif;
}
a{
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); 
}
.columna-central {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            max-width: auto; 
            margin: auto;   
            height: 4em; 
        }

#encabezado{
    position: relative;
    background-color: rgb(30, 100, 60);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
    color:rgb(129, 167, 140)
}
h1{
    font-size: 5em;
    text-align: center;
}

#navegacion{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color:rgb(30, 100, 60);
    font-size: 1.5em;
    /*opacity: 50%;*/
}
a.boton-navegacion{
    text-decoration: none;
    padding: 10px 25px;    
    background-color: rgb(58, 122, 86);  
    border: 2px solid rgb(11, 60, 40); 
    color: rgb(11, 60, 40);
    border-radius: 50px;        
    font-weight: bold;
    letter-spacing: 1px;        
    transition: all 0.4s ease;   
    display: inline-block;      
}


a.boton-navegacion:hover {
    background-color: rgb(11, 60, 40); 
    color: white;               
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px rgba(11, 60, 40, 0.3); 
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
#check{
    display: none;
}
#navegacion a:hover{
    background-color:rgb(94, 115, 94);
    color:white;
}
/*Introducción del menú lateral*/
/*El selector ~ afecta a un elemento que está a la altura de otro, así cuando la pseudoclase checked esta marcada aploca ciertos estilos*/

#check:checked ~#navegacion {
    transform: translateX(-550%);
}

/*Ocultando el boton abrir*/
/**/
#check:checked ~ .abrir{
    display: none;
}
/*Mostrando el boton salir*/
#check:checked ~ .cerrar{
    display:block;
}

/*Código para dar formato a los paquetes familiares*/
.paquetes_familiares{
    display: flex;
    flex-direction: row;
    margin: 1em;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.paquete{
    display: flex;
    flex-direction: column;
    margin:0.5em;
    padding: 0.5em;
   box-shadow: 0.2em 0.2em 0.2em rgb(28, 64, 28);
    max-width: 30em;
    align-items: center;
    justify-content: space-evenly;
}

.paquete:hover{
    max-width: 32em;
    box-shadow: 0.2em 0.2em 0.5em rgb(28, 64, 28);
}
.paquete h3{
    font-size: 2em;
    margin: 0.2em;
    padding: 0;
}

.paquete p{
    font-size: 1.7em;
    margin: 0.2em;
}
.elementos{
    font-size: 1.4em;
}
.precio:hover{
    background-color: rgb(17, 153, 115);
    font-weight: bolder;
}

.paquete img{
    margin: 0.2em;
    width: 95%;
    height: auto;
    object-fit: fill;
    box-shadow: 0.2em 0.2em 0.2em black;
}

.titulo_general_temporada{
    font-size: 3.5em;
    text-align: center;
}

.deslizar{
    display: flex;
    overflow-x: scroll;
    gap: 1em;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    grid-column: 1/2;

}
.temporada{
    flex: 1 0 100%;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 5% 75%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/4;
    object-fit: fill;
}
.temporada p,h2,h3{
    grid-column: 2/3;
    width: 100%;
}

.text{
    grid-row: 3/4;
    text-align: center;
    place-self: center;
    font-size: 2em;
}

.temporada h3{
    grid-row: 2/3;
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
  
}

.temporada h2{
    grid-row: 1/2;
    text-align: center;
    font-size: 5em;
    text-shadow: 0.1em 0.1em 0.1em rgb(112, 131, 112);
}

.letras_pequeñas{
    grid-row: 3/4;
    text-align:center;
    align-self: self-end;
    font-size: 1em;
}

/*Sección de cupones*/
.cupones_imagenes{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
}
.cupones h2{
    font-size: 3em;
    text-align: center;
}
.cupones img{
    width: 100%;
    max-height: 70em;
    flex: 1 0 100%;
}

/*Sección de servicios */
.general_servicios h2{
    font-size: 3em;
    text-align: center;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.servicio h3{
    font-size: 2em;
    text-align: center;
    padding: 0;
}
.servicio img{
    width: 65%;

}

.servicio{
    display: flex;
    margin-left: 9em;
    margin-right: 9em;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    box-shadow: 0.2em 0.2em 0.2em rgb(68, 81, 68);
    align-items: center;
    padding:0.1em;
}
.servicio:hover{
    max-width: 100%;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(28, 64, 28);
    background-color: rgb(201, 220, 201) ;
}
.servicio p{
    font-size: 1.5em;
    padding: 0.4em;
}

/* Pie de página*/
#pie_pagina{
        margin:0.1em;
        border:0.2em solid black;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;
        background-color:rgb(5, 35, 20);
    }
.redes{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        margin: 0.1em
    }
.redes p{
    grid-column: 1/4;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.redes a{   
   text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px; 
    border: none;
    display: inline-block;
    background: linear-gradient(45deg, rgb(34, 69, 46),rgb(57, 149, 126));
    box-shadow: 0 4px 15px rgba(39, 35, 124, 0.4);  
    transition: all 0.4s ease;
}
.redes a:hover{
  transform: translateY(-3px); 
    background-position: 100% 0; 
     background: linear-gradient(45deg, rgb(44, 82, 57),rgb(75, 198, 167));
    box-shadow: 0 8px 25px rgba(150, 60, 200, 0.5); 
}
.contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 2/3;
        align-items: center;
        margin: 0.1em
    }
.contacto p{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.contacto a{
   text-decoration: none;
    margin-left: 5.5em;
    margin-right: 5.5em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px; 
    border: none;
    display: inline-block;
    background: linear-gradient(45deg,rgb(34, 69, 46),rgb(57, 149, 126));
    box-shadow: 0 4px 15px rgba(39, 35, 124, 0.4);  
    transition: all 0.4s ease;
}
.contacto a:hover{
    transform: translateY(-3px); 
    background-position: 100% 0; 
    background: linear-gradient(45deg, rgb(44, 82, 57),rgb(75, 198, 167));
    box-shadow: 0 8px 25px rgba(150, 60, 200, 0.5); 
}
.derechos-autor{
        font-size: 1.3em;
        grid-column: 3/4;
        color: rgb(129, 167, 140)
    }
/*Modificación para cuando la pantalla se hace pequeña*/
@media screen and (max-width: 850px) {
 #navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML
    /*Se aplica una transicion: propiedad tiempo funcion*/
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color: rgb(183, 183, 184);
    font-size: 1em;

    /*opacity: 50%;*/
}
#encabezado{
    font-size: 1em;
    background-color: rgb(30, 100, 60);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    position: relative;
}
#encabezado h1{
    grid-column: 3/5;
    font-size:large;
}
#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.paquete img{
width: 70%;
}
.paquete h3{
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0;
}

.paquete p{
    font-size: 1.2em;
    margin: 0.2em;
}
.elementos{
    font-size: 1em;
}
.temporada{
    flex: 1 0 90em;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 80%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/3;
    object-fit: fill;
    width: 100%;
}
.text{
    grid-row: 2/3;
    text-align: center;
    place-self: center;
    font-size: 1em;
}

.temporada h3{
    grid-row: 2/3;
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
  
}

.temporada h2{
    grid-row: 1/2;
    text-align: center;
    font-size: 2em;
    text-shadow: 0.1em 0.1em 0.1em rgb(112, 131, 112);
}
.letras_pequeñas{
    grid-row: 2/3;
    text-align:center;
    align-self: self-end;
    font-size: 0.5em;
}
.servicio p{
    font-size: 1em;
    padding: 0.4em;
}
.servicio h3{
    font-size: 1.7em;
    text-align: center;
    padding: 0;
}
.servicio{
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    border: 0.2em solid black;
    align-items: center;
    padding:0.1em;
}
/*Modificación al pie de*/

.redes p{
    font-size: 1em;

}
.redes a{   
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.contacto p{   
        font-size: 1em;

}
.contacto a{
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.derechos-autor{
        font-size: 1em;
    }
}
/*Modifica la sección de promociones y eso*/
@media screen and (max-width: 1500px) and (min-width: 850px){
.temporada{
    flex: 1 0 120em;
    border: 0.2em dotted darkslateblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 80%;
    box-sizing: border-box;
    scroll-snap-align: end;
    
}
.temporada img{
    grid-column: 1/2;
    grid-row: 1/4;
    object-fit: fill;
    width: 100%;
}
.text{
    grid-row: 2/3;
    text-align: center;
    place-self: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.temporada h3{
    grid-row: 2/3;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
  
}

.temporada h2{
    grid-row: 1/2;
    text-align: center;
    font-size: 3em;
    text-shadow: 0.1em 0.1em 0.1em rgb(112, 131, 112);
}
.letras_pequeñas{
    grid-row: 2/3;
    text-align:center;
    align-self: self-end;
    font-size: 0.8em;
}
.servicio h3{
    font-size: 2em;
    text-align: center;
    padding: 0;
}
.servicio img{
    width: 65%;

}

.servicio:hover{
    max-width: 100%;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(28, 64, 28);
    background-color: rgb(201, 220, 201) ;
}
.servicio p{
    font-size: 1.3em;
    padding: 0.4em;
}
/*Modificación al pie de página*/
.redes p{
    font-size: 1.3em;

}
.redes a{   
    margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.contacto p{
        font-size: 1.3em;
}
.contacto a{
   margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.derechos-autor{
        font-size: 1.3em;
    }
}
