/*CSS del Index*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 183, 184) ;

}

.columna-central {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            max-width: auto; 
            margin: auto;   
            height: 4em; 
        }

#encabezado{
    position: relative;
    background-color: rgb(144, 144, 151);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
}
h1{
    font-size: 5em;
    text-align: center;
}

#navegacion{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML
    /*Se aplica una transicion: propiedad tiempo funcion*/
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color: rgb(183, 183, 184);
    font-size: 1.5em;
    /*opacity: 50%;*/
}
#navegacion a{
    text-decoration: none;
    text-align: center;
    color:rgb(40, 69, 35);
}

.abrir {
    grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
#check{
    display: none;
}
#navegacion a:hover{
    background-color:rgb(94, 115, 94);
    color:white;
}
/*Introducción del menú lateral*/
/*El selector ~ afecta a un elemento que está a la altura de otro, así cuando la pseudoclase checked esta marcada aploca ciertos estilos*/

#check:checked ~#navegacion {
    transform: translateX(-555%);
}

/*Ocultando el boton abrir*/
/**/
#check:checked ~ .abrir{
    display: none;
}
/*Mostrando el boton salir*/
#check:checked ~ .cerrar{
    display:block;
}

@media screen and (max-width: 850px) {
 #navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML
    /*Se aplica una transicion: propiedad tiempo funcion*/
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color: rgb(183, 183, 184);
    font-size: 1em;

    /*opacity: 50%;*/
}
#encabezado{
    font-size: 1em;
    background-color: rgb(144, 144, 151);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}
#encabezado h1{
    grid-column: 3/5;
    font-size:large;
}
#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.cerrar {
  grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
}
