/*CSS del Index*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 228, 210) ;

}

.columna-central {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            max-width: auto; 
            margin: auto;   
            height: 4em; 
        }

#encabezado{
    position: relative;
    background-color: rgb(30, 100, 60);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
    color:rgb(129, 167, 140)
}
h1{
    font-size: 5em;
    text-align: center;
}
h2,h3{
    color: rgb(11, 60, 40);
}

#navegacion{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color:rgb(30, 100, 60);
    font-size: 1.5em;
    /*opacity: 50%;*/
}
a.boton-navegacion {
    text-decoration: none;
    padding: 10px 25px;      
    border: 2px solid rgb(11, 60, 40); 
    color: rgb(11, 60, 40);
    border-radius: 50px;        
    font-weight: bold;
    letter-spacing: 1px;        
    transition: all 0.4s ease;   
    display: inline-block;      
}


a.boton-navegacion:hover {
    background-color: rgb(11, 60, 40); 
    color: white;               
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px rgba(11, 60, 40, 0.3); 
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}

.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}
#check{
    display: none;
}
#navegacion a:hover{
    background-color:rgb(94, 115, 94);
    color:white;
}
#check:checked ~#navegacion {
    transform: translateX(-549%);
}

#check:checked ~ .abrir{
    display: none;
}
/*Mostrando el boton salir*/
#check:checked ~ .cerrar{
    display:block;
}


/*Secci칩n de Animales */
.general_animales h2{
    font-size: 3em;
    text-align: center;
}
.animales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.animal h3{
    font-size: 2em;
    text-align: center;
    padding: 0;
}
.animal img{
    width: 65%;

}

.animal{
    display: flex;
    margin-left: 9em;
    margin-right: 9em;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    box-shadow: 0.2em 0.2em 0.2em rgb(68, 81, 68);
    align-items: center;
    padding:0.1em;
}
.animal:hover{
    max-width: 100%;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(28, 64, 28);
    background-color: rgb(201, 220, 201) ;
}
.animal p{
    font-size: 1.5em;
    padding: 0.4em;
}

/* Estilo base */
a.boton-e {
    text-decoration: none;
    padding: 10px 25px;         
    border: 2px solid rgb(11, 60, 40); 
    color: rgb(11, 60, 40);
    border-radius: 50px;        
    font-weight: bold;
    letter-spacing: 1px;         
    transition: all 0.4s ease;  
    display: inline-block;    
}

/* Efecto Hover */
a.boton-e:hover {
    background-color: rgb(11, 60, 40); 
    color: white;                
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(11, 60, 40, 0.3); 
}

ul.lista {
    padding: 0;
    margin: 0;
}

ul.lista li {
    position: relative;
    padding-left: 20px; 
    margin-bottom: 12px; 
    color: rgb(11, 60, 40); 
    font-size: 1.5em;
}




/* Pie de p치gina*/
#pie_pagina{
         margin:0.1em;
        border:0.2em solid black;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;
        background-color:rgb(5, 35, 20);
    }
.redes{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        margin: 0.1em
    }
.redes p{
    grid-column: 1/4;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.redes a{
    text-decoration: none;
    color: rgb(129, 167, 140)
}
.redes a:hover{
  background-color:rgb(94, 115, 94);
    font-weight: bolder;
}
.contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 2/3;
        align-items: center;
        margin: 0.1em
    }
.contacto p{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.contacto a{
    text-decoration: none;
    color: rgb(129, 167, 140)
}
.contacto a:hover{
    background-color:rgb(94, 115, 94);
}
.derechos-autor{
        grid-column: 3/4;
        color: rgb(129, 167, 140)
    }
/*Modificaci칩n para cuando la pantalla se hace peque침a*/
@media screen and (max-width: 850px) {
 #navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color:rgb(30, 100, 60);
    font-size: 1em;

    /*opacity: 50%;*/
}
#encabezado{
    font-size: 1em;
    background-color: rgb(30, 100, 60);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    position: relative;
}
#encabezado h1{
    grid-column: 3/5;
    font-size:large;
}
#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: fill;
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}


@media screen and (max-width: 1500px) and (min-width: 850px){

.animales:hover{
    max-width: 100%;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(28, 64, 28);
    background-color: rgb(201, 220, 201) ;
}
.animal p{
    font-size: 1.3em;
    padding: 0.4em;
}
}
}