/*CSS de  Animales mamiferos*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(204, 196, 161, 0.793) ;

}


/*Encabezado*/
#encabezado{
    position: relative;
    background-color: rgb(211,193,195);
    border: 0.2em solid rgb(170, 150, 156);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
    color: rgb(98, 75, 78);
       font-size: 5em;
    text-align: center;
}

.boton-navegacion {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    display: inline-block;
    background: linear-gradient(45deg,  rgb(197, 158, 170),rgb(144, 101, 106));
    background-size: 200% 200%;
    box-shadow: 0 4px 15px rgba(124, 89, 74, 0.608);  
    transition: all 0.4s ease;
}

.boton-navegacion:hover {
    transform: translateY(-3px);
    background-position: 100% 0;
    box-shadow: 0 8px 25px rgba(134, 87, 67, 0.608);  
}

/*Información de los animales*/
#principal h2{
    font-size: 4em;
    text-align: center;
}
.mamiferos{
    display: flex;
    flex-direction: column;
}
.animal-1{
    position: relative;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.2em dotted rgb(8, 80, 16);
    background-color:  rgba(127, 177, 150, 0.663) ;
    display: grid;
    max-height: 29em;
    grid-template-columns: repeat(2,50%);
    grid-template-rows:  20% 15% 15% 20% 30%;
   
}
.imagen{
    grid-column: 1/2;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
}

.desaparece-1{
    position: absolute;
    height: 20em;
    opacity: 0;
    top: 5em;
    left:0em;
    transition: all 0.4s ease;
}
.animal-1 h3:hover ~ .desaparece-1 {
    opacity: 100%;
     left:100em;
}
.animal-1 h3{
    font-size: 3em;
    text-align: center;
    align-self: center;
    text-shadow: 0.1em 0.1em 0.1em rgb(90, 133, 110) ;
    grid-column: 2/3;
}
.animal-1 p{
    grid-column: 2/3;
    font-size: 1.4em;
    padding: 0.3em;
    transform: translateY(-0.6em);

}

.animal-1 ul{
    padding-top: 2em;
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 1.3em;
    transform: translateY(-0.3em);
   
}

.dato{
    grid-column: 2/3;
    grid-row: 5/6;
}
/*Ahora lo mismo pero invertido*/
.animal-2{
    position: relative;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.2em dotted rgb(7, 13, 61);
    background-color:  rgba(182, 201, 152, 0.722);
    display: grid;
    max-height: 29em;
    grid-template-columns: repeat(2,50%);
    grid-template-rows:  20% 15% 15% 20% 30%;   
   
}
.imagen-2{
    grid-column: 2/3;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
}

.desaparece-2{
    position: absolute;
    height: 25em;
    opacity: 0;
    top: 5em;
    left:0em;
    transition: all 0.4s ease;
}
.animal-2 h3:hover ~ .desaparece-2 {
    opacity: 100%;
    left:30em;
}
.animal-2 h3{
    font-size: 3em;
    text-align: center;
    align-self: center;
    text-shadow: 0.1em 0.1em 0.1em rgb(118, 113, 93);
    grid-column: 1/2;
}
.animal-2 p{
    grid-column: 1/2;
    font-size: 1.4em;
    padding: 0.3em;
    transform: translateY(-0.6em);

}

.animal-2 ul{
    padding-top: 2em;
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 1.3em;
    transform: translateY(-0.3em);
   
}

.dato-2{
    grid-column: 1/2;
    grid-row: 5/6;
}

/* Pie de página*/
#pie_pagina{
        margin:0.1em;
        border:0.2em solid rgb(69, 69, 69);
        display:grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;
        background-color:rgb(77, 67, 68);
    }
.redes{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        margin: 0.1em
    }
.redes p{
    grid-column: 1/4;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(220, 187, 187)
}
.redes a{  
   text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    display: inline-block;
    background: linear-gradient(45deg,  rgb(197, 158, 170),rgb(144, 101, 106));
    box-shadow: 0 4px 15px rgba(77, 40, 28, 0.4);  
    transition: all 0.4s ease;
}
.redes a:hover{
  transform: translateY(-3px);
    background-position: 100% 0;
     background: linear-gradient(45deg, rgb(197, 158, 170),rgb(144, 101, 106));
    box-shadow: 0 8px 25px rgba(200, 60, 60, 0.5);
}
.contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 2/3;
        align-items: center;
        margin: 0.1em
    }
.contacto p{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.3em;
    font-weight: bold;
    color: rgb(203, 174, 170)
}
.contacto a{
   text-decoration: none;
    margin-left: 5.5em;
    margin-right: 5.5em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    display: inline-block;
    background: linear-gradient(45deg,rgb(197, 158, 170),rgb(144, 101, 106));
    box-shadow: 0 4px 15px rgba(124, 35, 35, 0.4);  
    transition: all 0.4s ease;
}
.contacto a:hover{
    transform: translateY(-3px);
    background-position: 100% 0;
    background: linear-gradient(45deg,  rgb(197, 158, 170),rgb(144, 101, 106));
    box-shadow: 0 8px 25px rgba(113, 72, 50, 0.5);
}
.derechos-autor{
        font-size: 1.3em;
        grid-column: 3/4;
        color: rgb(208, 204, 232)
    }
/*Modificación para cuando la pantalla se hace pequeña*/
@media screen and (max-width: 850px) {
 
#encabezado{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
#encabezado h1{
    grid-column: 3/5;
       font-size: 2em;
    text-align: center;
}

#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
}
#encabezado a{
    grid-column: 5/7;
    text-decoration: none;
    font-size: 1em;
}
#encabezado a:hover{
     font-size: 1.2em;
     
}

.animal-1, .animal-2{
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    max-height: 25em;
    grid-template-columns: repeat(2,50%);
    grid-template-rows:  20% 10% 10% 30% 30%;
   
}

.animal-1 h3, .animal-2 h3{
    font-size: 2em;
    text-align: center;
    align-self: center;
}
.animal-1 p, .animal-2 p{
    font-size: 0.93em;
    padding: 0.3em;
    transform: translateY(-1.2em);

}
.dato, .dato-2{
    transform: translateY(-1em);
}
.animal-1 ul, .animal-2 ul{
    padding-top: 2em;
    font-size: 0.8em;
    transform: translateY(-0.5em);
   
}
.animal-1 h3:hover ~ .desaparece-1 {
    opacity: 100%;
    left: 25em;
}
.animal-2 h3:hover ~ .desaparece-2 {
    opacity: 100%;
    left: 5em;
}

/*Modificación al pie de*/

.redes p{
    font-size: 1em;

}
.redes a{  
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.contacto p{  
        font-size: 1em;

}
.contacto a{
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.derechos-autor{
        font-size: 1em;
    }
}
/*Modifica la sección de promociones y eso*/
@media screen and (max-width: 1400px) and (min-width: 850px){
.animal-1,.animal-2{
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    max-height: 25em;
    grid-template-columns: repeat(2,50%);
    grid-template-rows:  20% 10% 10% 30% 30%;
   
}

.animal-1 h3, .animal-2 h3{
    font-size: 2.5em;
    text-align: center;
    align-self: center;
}
.animal-1 p, .animal-2 p {
    font-size: 1.2em;
    padding: 0.3em;
    transform: translateY(-1em);

}

.animal-1 ul, .animal-2 ul{
    padding-top: 2em;
    font-size: 1em;
    transform: translateY(-0.5em);
   
}
.animal-1 h3:hover ~ .desaparece-1 {
    opacity: 100%;
    left: 60em;
}
.animal-2 h3:hover ~ .desaparece-2 {
    opacity: 100%;
    left: 15em;
}
    /*Modificación al pie de página*/
.redes p{
    font-size: 1.3em;

}
.redes a{  
    margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.contacto p{
        font-size: 1.3em;
}
.contacto a{
   margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.derechos-autor{
        font-size: 1.3em;
    }
}