@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap');
/*CSS del Index*/
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 250, 240) ;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 0.3px;
    line-height: 1.6;
}

h1{
    font-size: 5em;
    text-align: center;
    font-family: 'Roboto Slab', serif; 
    color: #1c3223; 
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); 
    margin: 0;
}
h2,h3{
    font-family: 'Roboto Slab', serif;
}
a{
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); 
}
.columna-central {
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            max-width: auto; 
            margin: auto;   
            height: 4em; 
        }

#encabezado{
    position: relative;
    background-color:rgb(30, 100, 60);
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#encabezado img{
    grid-column: 2/3;
    width: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: fill;
    position: right;
}
#encabezado h1{
    grid-column: 3/5;
}
h1{
    font-size: 5em;
    text-align: center;
   color: rgb(129, 167, 140);
}

#navegacion{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    transition: transform 0.1s ease-in-out;
    transform: translateX(-900%);
    height: 100vh;
    border: 0.2em solid rgb(68, 67, 68);
    background-color:rgb(30, 100, 60);
    font-size: 1.5em;
}
a.boton-navegacion{
    text-decoration: none;
    padding: 10px 25px;      
    border: 2px solid rgb(11, 60, 40); 
    background-color: rgb(58, 122, 86);
    color: rgb(11, 60, 40);
    border-radius: 50px;        
    font-weight: bold;
    letter-spacing: 1px;        
    transition: all 0.4s ease;   
    display: inline-block;      
}


a.boton-navegacion:hover {
    background-color: rgb(11, 60, 40); 
    color: white;               
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px rgba(11, 60, 40, 0.3); 
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(120%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
}
#check{
    display: none;
}
#navegacion a:hover{
    background-color:rgb(94, 115, 94);
    color:white;
}

#check:checked ~#navegacion {
    transform: translateX(-550%);
}


#check:checked ~ .abrir{
    display: none;
}

#check:checked ~ .cerrar{
    display:block;
}

/*Sección de instalaciones */
.general_instalaciones h2{
    font-size: 3em;
    text-align: center;
}
.instalaciones{
    display: grid;
    grid-template-rows: auto;
    overflow-x: scroll;
}
.instalacion img{
    width: 40%;
}

.instalacion{
    display: flex;
}


/*Todo sobre las actividdes*/
.actividades_t h2{
    font-size: 3em;
    text-align: center;
}
.actividades_generales{
    display: flex;
    flex-direction: row;
    margin: 1em;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.actividades{
    display: flex;
    flex-direction: column;
    margin:0.5em;
    padding: 4  .5em;
    border: 0.2em solid black;
    max-width: 30em;
    align-items: center;
    justify-content: space-evenly;
}

.actividades h3{
    font-size: 2em;
    margin: 0.2em;
    padding: 0;
}

.actividades p{
    font-size: 1.7em;
    margin: 0.2em;
}
.elementos{
    font-size: 1.7em;
}
.elementos p{
    font-size: 1em;
}
.dia:hover{
    background-color: rgb(96, 165, 81);
    font-weight: bolder;
}

.actividades img{
    margin: 0.2em;
    width: 90%;
    height: auto;
    object-fit: fill;
    box-shadow: 0.2em 0.2em 0.2em black;
}


/* Pie de página*/
#pie_pagina{
        margin:0.1em;
        border:0.2em solid black;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;
        background-color:rgb(5, 35, 20);
    }
.redes{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        margin: 0.1em
    }
.redes p{
    grid-column: 1/4;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.redes a{   
   text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px; 
    border: none;
    display: inline-block;
    background: linear-gradient(45deg, rgb(34, 69, 46),rgb(57, 149, 126));
    box-shadow: 0 4px 15px rgba(39, 35, 124, 0.4);  
    transition: all 0.4s ease;
}
.redes a:hover{
  transform: translateY(-3px); 
    background-position: 100% 0; 
     background: linear-gradient(45deg, rgb(44, 82, 57),rgb(75, 198, 167));
    box-shadow: 0 8px 25px rgba(150, 60, 200, 0.5); 
}
.contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 2/3;
        align-items: center;
        margin: 0.1em
    }
.contacto p{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.3em;
    font-weight: bold;
    color: rgb(129, 167, 140)
}
.contacto a{
   text-decoration: none;
    margin-left: 5.5em;
    margin-right: 5.5em;
    color:rgb(219, 225, 232);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px; 
    border: none;
    display: inline-block;
    background: linear-gradient(45deg,rgb(34, 69, 46),rgb(57, 149, 126));
    box-shadow: 0 4px 15px rgba(39, 35, 124, 0.4);  
    transition: all 0.4s ease;
}
.contacto a:hover{
    transform: translateY(-3px); 
    background-position: 100% 0; 
    background: linear-gradient(45deg, rgb(44, 82, 57),rgb(75, 198, 167));
    box-shadow: 0 8px 25px rgba(150, 60, 200, 0.5); 
}
.derechos-autor{
        font-size: 1.3em;
        grid-column: 3/4;
        color: rgb(129, 167, 140)
    }
.derechos-autor a{
    text-decoration: none;
  color: rgb(129, 167, 140);
}
@media screen and (max-width: 850px) {
 #navegacion{
    font-size: 1em;
}
     
#encabezado h1{
    grid-column: 3/5;
    font-size:large;
}
#encabezado img{
    grid-column: 1/3;
    width: 20%;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: fill;
}

.abrir {
   grid-column: 6/7;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}
.cerrar {
    grid-column: 6/7;
    display: none;
    width: 5em;
    cursor: pointer;
    transform: translateX(70%);
    font-size: 30px;
    cursor: pointer;
    position: relative; 
    top: -10px;
    color: rgb(11, 60, 40);
}


.general_instalaciones h2, .actividades_t h2{
    font-size: 2em;
}

.actividades h3{
    font-size: 1em;
}

.actividades p{
    font-size: 1.1em;
}
.elementos{
    font-size: 1.1em;
}
.elementos p{
    font-size: 1em;
}
/*Modificación al pie de*/

.redes p{
    font-size: 1em;

}
.redes a{   
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.contacto p{   
        font-size: 1em;

}
.contacto a{
    margin-left: 0.5em;
    margin-right:0.5em;
    padding: 2px 10px;
}

.derechos-autor{
        font-size: 1em;
    }
}
@media screen and (max-width: 1500px) and (min-width: 850px){
    /*Modificación al pie de página*/
.redes p{
    font-size: 1.3em;

}
.redes a{   
    margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.contacto p{
        font-size: 1.3em;
}
.contacto a{
   margin-left: 1em;
    margin-right:1em;
    padding: 10px 20px;
}

.derechos-autor{
        font-size: 1.3em;
    }
}
